.btncolor {
    
    color: wheat;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16pt;
}

.box{
    background-color: lightgrey;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;

}

.inp{
    margin-bottom: 5px;
    color: black;
}

.header{
    font-size: 18pt;
    color: blueviolet;
    font-family: Arial, sans-serif;
}

.form {
    width: 250px;
}